.featured-product {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  align-items: center;
  position: relative;
  z-index: 2;
  background: none;
}

.featured-product-section {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.featured-product-section__background {
  position: absolute;
  display: block !important;
  width: 33vw;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}
.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .product__media-wrapper {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
}

.featured-product .product__media-wrapper img {
  aspect-ratio: 1 / 1 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.featured-product .product__media {
  aspect-ratio: 1 / 1;
}
.featured-product__buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.featured-product .product-media-container {
  margin-bottom: var(--media-shadow-vertical-offset);
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.featured-product .product__media-item {
  padding-left: 0;
  aspect-ratio: 1 / 1;
}

.featured-product .placeholder-svg {
  display: block;
  height: auto;
  width: 100%;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button + .product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
  min-height: 4.4rem;
}

.share-button + .product__view-details::after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }

  .product--right .product__media-wrapper {
    order: 2;
  }
}

@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0;
  }

  .background-secondary .featured-product:not(.product--no-media).product--right > .product__info-wrapper {
    padding: 0 5rem 0 0;
  }

  .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 0rem;
  }

  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}
